Marketing Analytics Predicting Customer Churn in Python/comparison.png
Marketing Analytics Predicting Customer Churn in Python/comparison.xlsx
Marketing Analytics Predicting Customer Churn in Python/Izumi_san_data.ipynb
*.zip
JPX Tokyo Stock Exchange Prediction/data/
Winning a Kaggle Competition in Python/datasets/train.csv
Winning a Kaggle Competition in Python/datasets/test.csv
