Marketing Analytics Predicting Customer Churn in Python/comparison.png
Marketing Analytics Predicting Customer Churn in Python/comparison.xlsx
Marketing Analytics Predicting Customer Churn in Python/Izumi_san_data.ipynb
*.zip
